h2 {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 40px;
text-align: center;
background-color: aliceblue;
}
section {
    background-color: aliceblue;
    margin: 10px 200px;
    border-radius: 20px;
}
.contador {
    display: flex;
    justify-content: center;
    }
    div{
        border-radius: 20px;
    }